textarea {
    color: #777777;
}

.left{ float: left; width: 25%; }
.right{ float: right; width: 25%; }
.center{ display: inline-block; width: 50%; }

#timer {
    font-family: "Orbitron", Times, serif;
    font-size: 50px;
    text-align: left;
    background-color: #eeeeee;
    color: #777777;
    margin-left: 5%;
}

#chat {
    resize: none;
    cursor: default;
    text-align: left;
    background-color: #eeeeee;
    border: 1px solid #aaaaaa;
    color: #777777;
    height: 450px;
    margin-right: 5px;
    overflow-y: auto;
    word-wrap: break-word;
    margin-top: 16%;
}

#info {
    resize: none;
    pointer-events: none;
    margin-top: 16%;
    height: 500px;
    cursor: default;
    text-align: left;
    background-color: #eeeeee;
    border: 1px solid #aaaaaa;
}

#message {
    width: 100%;
    margin-right: 5px;
}

ul {
    list-style: none;
}

.black::before {
    content: "⬤ ";
    color: black;
}

.white::before {
    content: "⬤ ";
    color: white;
}

body {
    background-color: #eeeeee;
}
