textarea {
    color: #777777;
}

.left{ float: left; width: 25%; }
.right{ float: right; width: 25%; }
.center{ display: inline-block; width: 50%; }

.top {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.bigSubmit {
    font-family: "Helvetica";
    font-size: 20pt;
    width: 100%;
    margin-top: 5px;
    text-align: center;
    padding-top: 20px;
    height: 50px;
    border: none;
    background-color: #BBBBBB;
    margin-left: auto;
    margin-right: auto;
}

.bigInput {
    width: 100%;
    height: 40px;
    font-size: 20pt;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    box-sizing: border-box;
}

.title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 45pt;
    font-family: "Orbitron";
}

#promotion {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

#timer {
    font-family: "Orbitron", Times, serif;
    font-size: 50px;
    text-align: left;
    background-color: #eeeeee;
    color: #777777;
    margin-left: 5%;
}

#chessboard {
    margin-left: auto;
    margin-right: auto;
}

#loginfo {
    font-family: "Helvetica";
    font-size: 30pt;
    color: red;
    text-align: center;
    border: 4px solid red;
    display: none;
}

#turn {
    text-align: center;
    font-family: "Orbitron";
    font-size: 20pt;
    padding-top: 10%;
}

#chat {
    resize: none;
    cursor: default;
    text-align: left;
    background-color: #eeeeee;
    border: 1px solid #aaaaaa;
    color: #777777;
    width: 98%;
    height: 450px;
    margin-right: 5px;
    overflow-y:scroll;
    word-wrap: break-word;
    margin-top: 16%;
}

#info {
    resize: none;
    pointer-events: none;
    height: 500px;
    overflow:hidden;
    text-align: left;
    overflow-y:scroll;
    background-color: #eeeeee;
    border: 1px solid #aaaaaa;
}

#playbanner {
    text-align: center;
    font-family: "Orbitron";
    font-size: 20pt;
    padding-top: 10%;
}

#message {
    display: inline-block;
    box-sizing: border-box;
    width: 98%;
}

ul {
    list-style: none;
}

.black::before {
    content: "⬤ ";
    color: black;
}

.white::before {
    content: "⬤ ";
    color: white;
}

body {
    background-color: #eeeeee;
}

p, h3 {
    font-family: "Helvetica";
}
